<div class="container horizontal">
  <div class="text">
    <span>To understand how to visualize differential equations using Vector Field</span>
    <a mat-button class="click-button" (click)="navigate()" href="https://vectorfield3d.starfree.app/help" target="_blank" rel="noopener noreferrer">click here</a>
  </div>
  <div class="action">
    <button mat-raised-button (click)="cancel()" class="action-button">
      <span class="material-symbols-rounded">
        close
      </span>
    </button>
  </div>
</div>