<div class="container">
  <div class="title">
    <a href="/" class="title-a">Vector Field</a>
  </div>
  <div class="field-group dimension-container">
    <div class="dimension-toggle noselect" id="D2" [style.background-color]="'#333'" [style.border]="'1px solid #111'" (click)="open2D()">
      2D
    </div>
    <div class="dimension-toggle noselect" id="D3" [style.background-color]="'rgb(76, 76, 76)'" [style.border]="'1px solid #888'">
      3D
    </div>
  </div>
  <div class="field-group">
    <div class="field-container">
      <span class="before-field">dx</span>
      <input type="text" class="text-field xy-text-field" [(ngModel)]="x" (input)="checkXY()" (focusout)="submitXY()" (keydown.enter)="blur()">
      <div class="error-container">
        <span *ngIf="error.x" class="error after-textfield">err</span>
      </div>
    </div>
    <div class="field-container">
      <span class="before-field">dy</span>
      <input type="text" class="text-field xy-text-field" [(ngModel)]="y" (input)="checkXY()" (focusout)="submitXY()" (keydown.enter)="blur()">
      <div class="error-container">
        <span *ngIf="error.y" class="error after-textfield">err</span>
      </div>
    </div>
    <div class="field-container">
      <span class="before-field">dz</span>
      <input type="text" class="text-field xy-text-field" [(ngModel)]="z" (input)="checkXY()" (focusout)="submitXY()" (keydown.enter)="blur()">
      <div class="error-container">
        <span *ngIf="error.z" class="error after-textfield">err</span>
      </div>
    </div>
  </div>
  <div class="divider field-divider"></div>
  <div class="field-group">
    <div class="field-container">
      <span id="tlabel" class="before-label">t</span>
      <input type="text" class="text-field before-label after-label small-field" [(ngModel)]="ranges.minT" (focusout)="setMinT(); changeURL()" (keydown.enter)="blur()">
      <input type="range" class="small-slider dark-background-slider" [attr.min]="parameters.minT" [attr.max]="parameters.maxT" step="0.01"
       [(ngModel)]="parameters.t" (keydown.enter)="blur()">
      <input type="text" class="text-field before-label after-label small-field" [(ngModel)]="ranges.maxT" (focusout)="setMaxT(); changeURL()" (keydown.enter)="blur()">
    </div>
    <div class="field-container">
      <span class="before-label">x</span>
      <input type="text" class="text-field before-label after-label small-field" [(ngModel)]="ranges.xRange[0]" (focusout)="setMinX(); changeURL()" (keydown.enter)="blur()">
      <div class="divider range-divider"></div>
      <input type="text" class="text-field before-label after-label small-field" [(ngModel)]="ranges.xRange[1]" (focusout)="setMaxX(); changeURL()" (keydown.enter)="blur()">
    </div>
    <div class="field-container">
      <span class="before-label">y</span>
      <input type="text" class="text-field before-label after-label small-field" [(ngModel)]="ranges.yRange[0]" (focusout)="setMinY(); changeURL()" (keydown.enter)="blur()">
      <div class="divider range-divider"></div>
      <input type="text" class="text-field before-label after-label small-field" [(ngModel)]="ranges.yRange[1]" (focusout)="setMaxY(); changeURL()" (keydown.enter)="blur()">
    </div>
    <div class="field-container">
      <span class="before-label">z</span>
      <input type="text" class="text-field before-label after-label small-field" [(ngModel)]="ranges.zRange[0]" (focusout)="setMinZ(); changeURL()" (keydown.enter)="blur()">
      <div class="divider range-divider"></div>
      <input type="text" class="text-field before-label after-label small-field" [(ngModel)]="ranges.zRange[1]" (focusout)="setMaxZ(); changeURL()" (keydown.enter)="blur()">
    </div>
  </div>
  <div class="divider field-divider"></div>
  <div class="field-group">
    <div class="field-container inline slider-container slider-left">
      <app-animated-slider class="app-slider" [value]="parameters.particleCount" (valueChange)="parameters.particleCount = $event;parametersChange.emit(parameters)" (onUp)="changeURL()"
      [min]="100" [max]="100000" [default]="10000"></app-animated-slider>
      <div class="app-slider-label">Particles</div>
    </div>
    <div class="field-container inline slider-container slider-middle">
      <app-animated-slider class="app-slider" [value]="parameters.speed" (valueChange)="parameters.speed = $event" (onUp)="changeURL()" [min]="0.01" [max]="10" [default]="1" [color]="'coral'"></app-animated-slider>
      <div class="app-slider-label">Speed</div>
    </div>
    <div class="field-container inline slider-container slider-right">
      <app-animated-slider class="app-slider textblack" [value]="parameters.lifetime" (valueChange)="parameters.lifetime = $event; parametersChange.emit(parameters)" (onUp)="changeURL()"
      [min]="1" [max]="1000" [default]="100" [color]="'lightgreen'"></app-animated-slider>
      <div class="app-slider-label">Lifetime</div>
    </div>
  </div>
  <div class="divider field-divider"></div>
  <div class="field-container checkbox-field">
    <div class="checkbox-container">
      <input #normalize type="checkbox" [ngModel]="parameters.normalize" (ngModelChange)="parameters.normalize = $event; changeURL()" (keydown.enter)="blur()">
      <label for="normalize" class="after-label">Normalize</label>
    </div>
  </div>
  <div class="divider field-divider"></div>
  <div class="field-container checkbox-field">
    <div class="checkbox-container">
      <input #normalize type="checkbox" [ngModel]="parameters.showAxes" (ngModelChange)="parameters.showAxes = $event; parametersChange.emit(parameters); changeURL()" (keydown.enter)="blur()">
      <label for="normalize" class="after-label">Show axes</label>
    </div>
  </div>
  <div class="field-container checkbox-field">
    <div class="checkbox-container">
      <input #normalize type="checkbox" [ngModel]="parameters.showCube" (ngModelChange)="parameters.showCube = $event; parametersChange.emit(parameters); changeURL()" (keydown.enter)="blur()">
      <label for="normalize" class="after-label">Show limits</label>
    </div>
  </div>
  <div id="slow-field" class="field-container color-picker">
    <label for="c2" class="before-label">Slow</label>
    <div class="cp_wrapper">
      <input #c2 type="color" [(ngModel)]="color2" (change)="submitColors(); changeURL()" (keydown.enter)="blur()">
    </div>
  </div>
  <div class="field-container color-picker after-picker">
    <label for="c1" class="before-label">Fast</label>
    <div class="cp_wrapper">
      <input #c1 type="color" [(ngModel)]="color1" (change)="submitColors(); changeURL()" (keydown.enter)="blur()">
    </div>
  </div>
  <div class="divider field-divider"></div>
  <div class="github-text">
    Checkout <a href="https://github.com/starrfree/vector-field-website" target="_blank" rel="noopener noreferrer" class="github-a">Github</a> for help.
    <br>
    <br>
    To understand how to visualize differential equations using Vector Field <a href="https://vectorfield3d-dot-starfree.ew.r.appspot.com/help" target="_blank" rel="noopener noreferrer" class="github-a">click here</a>
  </div>
</div>
<!-- 
  <div class="field-container">
    <input #speed type="range" min="0.01" max="10" step="0.01" [(ngModel)]="parameters.speed" (keydown.enter)="blur()">
    <label for="speed" class="slider-label">Speed</label>
  </div>
  <div class="field-container">
    <input #lifetime type="range" min="0.1" max="100" [ngModel]="parameters.lifetime"
    (ngModelChange)="parameters.lifetime = $event;parametersChange.emit(parameters)" (keydown.enter)="blur()">
    <label for="lifetime" class="slider-label">Lifetime</label>
  </div>
  <div class="field-container">
    <input #particleCount type="range" min="100" max="100000" [ngModel]="parameters.particleCount"
     (ngModelChange)="parameters.particleCount = $event;parametersChange.emit(parameters)" (keydown.enter)="blur()">
    <label for="particleCount" class="slider-label">Particles</label>
  </div>
-->