.container {
  width: 250px;
}

.field-container {
  padding-top: 10px;
  padding-left: 15px;
}

.field-group {
  margin-bottom: 20px;
}

.slider-label {
  margin-left: .6em;
  position: relative;
  top: -4px;
}

.before-field {
  margin-right: .6em;
}

.text-field {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: rgb(76, 76, 76);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 3px;
  width: 190px;
}

.xy-text-field {
  padding: 4px 5px;
}

.after-label {
  margin-left: .6em;
  position: relative;
  top: -1px;
}

.before-label {
  margin-right: .6em;
  position: relative;
  top: -1px;
}

.error {
  color: rgb(255, 98, 80);
  font-weight: 400;
}

.error-container {
  width: 3px;
  display: inline-flex;
}

.after-textfield {
  margin-left: .6em;
}

.textblack {
  color: black;
}

.inline {
  display: inline-block;
}

.slider-container {
  margin-right: 20px;
  margin-top: 10px;
}

.color-picker {
  display: inline-block;
  margin-top: -10px;
  margin-bottom: 20px;
}

.small-field {
  width: 20px;
}

.small-slider {
  width: 123px;
}

.app-slider-label {
  margin-top: 9px;
  /* font-size: 14px; */
}

.app-slider {
  font-size: 11px;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: rgb(76, 76, 76);
  /* transform: translate(0, 2px); */
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
 background-color: lightblue;/*#3273F6;*/
 width: 13px;
 height: 13px;
 border-radius: 100px;
}

/* input[type="color"] {
	-webkit-appearance: none;
  background-color: rgb(76, 76, 76);
	border: none;
	width: 40px;
	height: 25px;
  border-radius: 5px;
  transform: translate(0, 32%);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
	padding: 0;
  border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
  border-radius: 5px;
} */

input[type='color'] {
  padding: 0;
  width: 150%;
  height: 150%;
  margin: -25%;
}

.cp_wrapper {
  overflow: hidden;
  width: 24px;
  height: 24px;
  /* optional formatting below here */
  border-radius: 50%;
  box-shadow: 1px 1px 3px 0px gray;
  display: inherit;
  transform: translate(0, 30%);
  margin-left: 5px;
}

.divider {
  height: 0.5px;
  border-radius: 100px;
}

.field-divider {
  width: 100%;
  margin: 0 10px 8px 10px;
  background-color: rgb(76, 76, 76);
}

.range-divider {
  background-color: rgb(176, 176, 176);
  width: 128px;
  display: inline-flex;
  transform: translate(0, -5px);
}

#tlabel {
  padding-right: 2px;
}

.checkbox-field {
  margin-left: -6px;
  margin-bottom: 10px;
}

.after-picker {
  margin-left: 30px;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: rgb(76, 76, 76);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: rgb(176, 176, 176);
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid rgb(176, 176, 176);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  margin-left: 5px;
  margin-bottom: 8px;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: center center;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
} */

.checkbox-container {
  display: inline-flex;
}

#slow-field {
  margin-left: -1px;
}

.title {
  padding: 20px 0 20px 20px;
}

.title-a {
  font-size: 27px;
  font-weight: 700;
  color:rgb(220, 220, 220);
  text-decoration: none;
}

.github-a {
  text-decoration: underline;
  color: gray;
}

.github-text {
  font-weight: 400;
  color: gray;
  position: absolute;
  bottom: 10px;
  top: 580px;
  margin-left: 10px;
}

#D2 {
  border-radius: 7px 0 0 7px;
}

#D3 {
  border-radius: 0 7px 7px 0;
}

.dimension-toggle {
  margin: auto;
  display: inline-block;
  width: 110px;
  padding: 4px 0;
  text-align: center;
}

.dimension-toggle:hover {
  /* border-color: #666 !important; */
  text-decoration: underline;
  text-underline-offset: 1px;
}

.dimension-container {
  margin-left: 17px;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}