
<div class="language-select-container">
  <span>Language</span>
  <select name="language" id="language-select" [(ngModel)]="language">
    <option value="en">English</option>
    <option value="fr">Français</option>
  </select>
</div>
<div *ngIf="language == 'fr'" class="all-container">
  <div class="container">
    <h1>Visualiser les équations différencielles</h1>
    <h2 class="subtitle">avec <a class="subtitle" href="https://vectorfield.starfree.app">Vector Field</a></h2>
    <p>
      <a href="https://vectorfield.starfree.app">Vector Field</a> permet de représenter les champs de vecteurs 
      de manière visuelle, en simulant des milliers de particules.
      Dans cet article, nous allons voir comment utiliser <a href="https://vectorfield.starfree.app">Vector Field</a>
      pour visualiser les solutions aux équations différentielles. 
    </p>
    <h2>
      Equations à une dimension
    </h2>
    <p>
      On s'intéresse aux équations différencielles de la forme <span class="equation">$${{diff1D}}$$</span>
      où \(y\) est la fonction que l'on cherche, c'est une fonction d'une seule variable \(x\).<br>
      \(f\) est une fonction de deux variables: \(x\), et \(y\) évaluée en \(x\). Elle contraint la valeur de la dérivée \(y'\) en tout point.
    </p>
    <p>
      On cherche à résoudre cette équation, c'est à dire trouver toutes les fonctions ayant pour dérivée \(f\). Cependant, on ne sait souvent pas résoudre
      ces équations, on va alors chercher à tracer une approximation des solutions pour les visualiser. 
    </p>
    <h3>
      Comment visualiser ?
    </h3>
    <p>
      Pour visualiser une équation différencielles de la forme vue précédemment, il suffit de fixer la valeur \(dx = 1\) et pour \(dy\) écrire \(dy = f(x, y(x))\).
      Les particules suivront alors le tracé des fonctions solutions.<br>
      Nous allons voir plus tard pourquoi cela marche.
    </p>
  </div>
  <h3>
    Exemple: \(y' = x\)
  </h3>
  <div class="indent">
    <a  target="_blank" rel="noopener noreferrer" href="https://vectorfield.starfree.app/?x=1&y=x&t=0&minT=0&maxT=10&xRange=-2&xRange=2&yRange=-2&yRange=2&lifetime=100&particleCount=10000&normalize=false&speed=1&color1=1&color1=1&color1=1&color1=1&color2=0.4&color2=0.4&color2=1&color2=1">
      <img class="example-img" src="../../assets/images/e1.png">
    </a>
    <span class="footnote center-align">cliquer sur les images pour ouvrir la simulation dans un nouvel onglet</span>
  </div>
  <div class="container">
    <p>
      Comme nous savons résoudre l'équation différencielle \(y' = x\), on peut tester la méthode de visualisation vue plus tôt. 
      En effet, toutes les solutions sont les fonctions de la forme $${{solx}}$$ où \(c\) est n'importe quel nombre réel, fixé pour une fonction donnée.
      <br>De cette formule, on déduit que les solutions forment des paraboles dont la hauteur dépend de la valeur de \(c\).
      <br>Et c'est exactement ce que l'on observe dans
      la simulation ! On voit que les particules suivent des paraboles de hauteur différente.
    </p>
    <h3>
      Pourquoi cette méthode marche-t-elle ?
    </h3>
    <p>
      En tout point, on peut écrire la dérivée commme \(y'={{der}}\)
      <br>où \(dx\) est un déplacement élémentaire horizontal et \(dy\) est 
      le déplacement élémentaire de la fonction correspondant à \(dx\).
    </p>
    <p>
      Pour que le calcul de la dérivée soit exact, il faudrait faire tendre \(dx\) vers \(0\).
      Mais pour faire une approximation de la dérivée, on peut fixer la valeur de \(dx\), par exemple à \(1\).
      <br>Or, ce que l'on cherche à avoir, en tout point de la trajectoire des particules, est que \({{diff1D}}\).
      <br>Donc en forçant \(dy\) à avoir \(f(x, y(x)))\) comme expression,
      et en fixant \(dx = 1\), on s'assure que les particules ont comme trajectoire une solution à l'équation différencielle.
    </p>
  </div>
  <h3>
    Exemple: \(y' = \cos(3 x) \cdot \sin(2 x y + 1)\)
  </h3>
  <div class="indent">
    <a  target="_blank" rel="noopener noreferrer" href="https://vectorfield.starfree.app/?x=1&y=cos(3%20*%20x)%20*%20sin(2%20*%20y%20*%20x%20%2B%201)&t=0&minT=0&maxT=10&xRange=-4&xRange=4&yRange=-4&yRange=4&lifetime=100&particleCount=10000&normalize=false&speed=1&color1=1&color1=1&color1=1&color1=1&color2=0.4&color2=0.4&color2=1&color2=1">
      <img class="example-img" src="../../assets/images/e2.png">
    </a>
    <span class="footnote center-align">cliquer sur les images pour ouvrir la simulation dans un nouvel onglet</span>
  </div>
  <div class="container">
    <p>
      Grâce à cette méthode, on peut visualiser les solutions à des équations différencielles qui seraient trop compliquées pour être résolues analytiquement.
    </p>
  </div>
  <div class="container">
    <h2>
      Equations à deux et trois dimensions
    </h2>
    <p>
      On s'intéresse maintenant aux systèmes d'équations différencielles de la forme <span class="equation">$${{diff2D}}$$</span>
      où \(x\) et \(y\) sont les fonctions, d'une variable \(t\), que l'on cherches.<br>\({{f1}}\), \({{f2}}\) sont des fonctions de trois variables: \(t\), \(x(t)\), \(y(t)\).
    </p>
    <p>
      Il faut noter que la variable de base est ici \(t\), alors que dans le cas à 1D, la variable était \(x\).
    </p>
    <h3>
      Ecriture vectorielle
    </h3>
    <p>
      On peut aussi écrire le système différemment: de manière vectorielle. En posant le vecteur \({{xyVector}}\), on se réduit au cas à une variable.
      Le système devient alors: <span class="equation">$${{diff2DVect}}$$</span> où \(f\) est une fonction de deux variables: \(t\) et \({{xy_tVector}}\) qui est un vecteur.
      <br>Ce problème est donc très similaire au cas 1D.
    </p>
    <h3>
      Comment visualiser ?
    </h3>
    <p>
      Pour visualiser un système d'équations différencielle, on écrit simplement pour \(dx\) l'expression de \(x'\), et pour \(dy\) l'expression de \(y'\).
      La position \((x, y)\) de chaque particule au court du temps décrira alors une solution au système.
      Nous allons expliquer plus tard pourquoi cela marche.
    </p>
  </div>
  <h3>
    Exemple: \({{ex12D}}\)
  </h3>
  <div class="indent">
    <a  target="_blank" rel="noopener noreferrer" href="https://vectorfield.starfree.app/?x=y&y=-x&t=0&minT=0&maxT=10&xRange=-1&xRange=1&yRange=-1&yRange=1&lifetime=100&particleCount=10000&normalize=false&speed=1&color1=1&color1=1&color1=1&color1=1&color2=0.4&color2=0.4&color2=1&color2=1">
      <img class="example-img" src="../../assets/images/e3.png">
    </a>
    <span class="footnote center-align">cliquer sur les images pour ouvrir la simulation dans un nouvel onglet</span>
  </div>
  <div class="container">
    <p>
      On peut montrer que les solutions à ce système d'équations différencielles sont des cercles concentriques de différents rayons, qui dépendent des conditions initiales.
      <br>C'est, encore une fois, exactement ce que l'on voit sur la simulation: les particules tournent autour du centre en décrivant des cercles.
    </p>
    <h3>
      Pourquoi cette méthode marche-t-elle ?
    </h3>
    <p>
      Le pas de temps \(dt\) entre chaque déplacement de la particule est fixé. 
      <br>Or, comme pour le cas à 1D, la dérivée des fonctions peut s'écrire \(x' = {{derxt}}\) et \(y' = {{deryt}}\).
      <br>Donc en écrivant \({{diffd2D}}\), on s'assure, comme pour le cas 1D, que les particules suivent des solutions au système d'équations différencielles.
    </p>
    <p>
      L'interprétation n'est cependant pas tout à fait la même que le cas 1D. La variable de base n'est plus la coordonnée \(x\) mais c'est le temps \(t\).
      De ce fait, le simple tracé des particules n'est plus suffisant pour comprendre l'équation, il faut aussi prendre en compte le mouvement des particules
      dans le temps. Nottament, la vitesse des particules nous renseigne sur les propriétés des solutions.
    </p>
  </div>
  <h3>
    Exemple: \({{ex22D}}\)
  </h3>
  <div class="indent">
    <a  target="_blank" rel="noopener noreferrer" href="https://vectorfield.starfree.app/?x=x*y%20-%20y*y&y=-cos(3*x%20%2By)&t=0&minT=0&maxT=10&xRange=-1&xRange=1&yRange=-1&yRange=1&lifetime=100&particleCount=10000&normalize=false&speed=1&color1=1&color1=1&color1=1&color1=1&color2=0.4&color2=0.4&color2=1&color2=1">
      <img class="example-img" src="../../assets/images/e4.png">
    </a>
    <span class="footnote center-align">cliquer sur les images pour ouvrir la simulation dans un nouvel onglet</span>
  </div>
  <div class="container">
    <p>
      Résoudre ce système serait trop compliqué. Mais on peut tout de même en visualiser les solutions.
    </p>
    <h3>
      Maintenant, en 3D
    </h3>
    <p>
      Pour les système à 3D, cela marche exactement de la même manière que pour le cas à 2D.
      <br>Poser le vecteur \({{xyzVector}}\) permet de mettre en évidence le fait que le système se résoud de la même manière que le cas 1D.
      <br>Ensuite pour visualiser le système il suffit d'écrire les expressions respectives de \(x'\), \(y'\), \(z'\) dans \(dx\), \(dy\), \(dz\).
    </p>
  </div>
  <h3>
    Exemple: \({{ex13D}}\)
  </h3>
  <div class="indent">
    <a  target="_blank" rel="noopener noreferrer" href="https://vectorfield3d-dot-starfree.ew.r.appspot.com/?x=x*x-y*y&y=2*x*y*z&z=-cos(x%20%2B%20x)&t=0&minT=0&maxT=10&xRange=-1&xRange=1&yRange=-1&yRange=1&zRange=-1&zRange=1&lifetime=100&particleCount=10000&normalize=false&speed=1&showCube=true&showAxes=true&color1=1&color1=1&color1=1&color1=1&color2=0.4&color2=0.4&color2=1&color2=1">
      <img class="example-img" src="../../assets/images/e5.png">
    </a>
    <span class="footnote center-align">cliquer sur les images pour ouvrir la simulation dans un nouvel onglet</span>
  </div>
  <div class="container">
    <p>
      La vue en 3D permet de visualiser les solutions à un système de trois équations différencielles, qui seraient difficile à appréhender autrement.
    </p>
  </div>
</div>




<div *ngIf="language == 'en'" class="all-container">
  <div class="container">
    <h1>Visualize differential equations</h1>
    <h2 class="subtitle">with <a class="subtitle" href="https://vectorfield.starfree.app">Vector Field</a></h2>
    <p>
      <a href="https://vectorfield.starfree.app">Vector Field</a> lets you visually represent vector fields by simulating thousands of particles. 
      In this article you will learn how to use <a href="https://vectorfield.starfree.app">Vector Field</a> to visualize solutions to differential equations.
    </p>
    <h2>
      One-dimensional equations
    </h2>
    <p>
      First, we will try to understand differential equations of the form <span class="equation">$${{diff1D}}$$</span>
      where \(y\) is the function we are looking for, it is a function of a single variable \(x\).<br>
      \(f\) is a function of two variables: \(x\), and \(y\) evaluated at \(x\). It constrains the value of the derivative \(y'\) at any point.
    </p>
    <p>
      We seek to solve this equation, i.e. find all the functions having for derivative \(f\).
      However, we often do not know how to solve these equations, so we will try to draw an approximation of the solutions to visualize them.
    </p>
    <h3>
      How to visualize?
    </h3>
    <p>
      To visualize a differential equation of the form seen previously, one just has to set the value \(dx = 1\) and for \(dy\) write \(dy = f(x, y(x))\).
      The particles will then follow the path of the solution functions.
      <br>
      We will see later why this works.
    </p>
  </div>
  <h3>
    Example: \(y' = x\)
  </h3>
  <div class="indent">
    <a  target="_blank" rel="noopener noreferrer" href="https://vectorfield.starfree.app/?x=1&y=x&t=0&minT=0&maxT=10&xRange=-2&xRange=2&yRange=-2&yRange=2&lifetime=100&particleCount=10000&normalize=false&speed=1&color1=1&color1=1&color1=1&color1=1&color2=0.4&color2=0.4&color2=1&color2=1">
      <img class="example-img" src="../../assets/images/e1.png">
    </a>
    <span class="footnote center-align">click on images to open the simulation in a new tab</span>
  </div>
  <div class="container">
    <p>
      As we know how to solve the differential equation \(y' = x\), we can test the visualization method seen earlier.
      Indeed, all solutions are functions given by $${{solx}}$$ where \(c\) is any real number, fixed for a given function.
      <br>From this formula, we deduce that the solutions are parabolas whose height depends on the value of \(c\).
      <br>And this is exactly what we observe in the simulation! We see that the particles follow parabolas of different height.
    </p>
    <h3>
      Why does this method work?
    </h3>
    <p>
      At any point, we can write the derivative as \(y'={{der}}\)
      <br>where \(dx\) is an elementary horizontal displacement 
      and \(dy\) is the elementary displacement of the function corresponding to \( dx\).
    </p>
    <p>
      For the calculation of the derivative to be exact, \(dx\) should tend to \(0\).
      But to make an approximation of the derivative, we can fix the value of \(dx\), for example to \(1\).
      <br>Now, what we want to have, at any point in the trajectory of the particles, is that \({{diff1D}}\).
      <br>So by forcing \(dy\) to have \(f(x, y(x)))\) as an expression, and setting \(dx = 1\),
      we ensure that the particles have as trajectory a solution to the differential equation.
    </p>
  </div>
  <h3>
    Example: \(y' = \cos(3 x) \cdot \sin(2 x y + 1)\)
  </h3>
  <div class="indent">
    <a  target="_blank" rel="noopener noreferrer" href="https://vectorfield.starfree.app/?x=1&y=cos(3%20*%20x)%20*%20sin(2%20*%20y%20*%20x%20%2B%201)&t=0&minT=0&maxT=10&xRange=-4&xRange=4&yRange=-4&yRange=4&lifetime=100&particleCount=10000&normalize=false&speed=1&color1=1&color1=1&color1=1&color1=1&color2=0.4&color2=0.4&color2=1&color2=1">
      <img class="example-img" src="../../assets/images/e2.png">
    </a>
    <span class="footnote center-align">click on images to open the simulation in a new tab</span>
  </div>
  <div class="container">
    <p>
      Thanks to this method, one can visualize the solutions to differential equations which would be too complicated to be solved analytically.
    </p>
  </div>
  <div class="container">
    <h2>
      Two- and three-dimensional equations
    </h2>
    <p>
      We will now see how to visualize differential equations of the form <span class="equation">$${{diff2D}}$$</span>
      where \(x\) and \(y\) are functions of a variable \(t\), these are what we are looking for.<br>\({{f1}}\), \({{f2}}\) are functions of three variables: \(t\), \(x(t)\), \(y(t)\).
    </p>
    <p>
      Note that the base variable here is \(t\), whereas in the 1D case, the variable was \(x\).
    </p>
    <h3>
      Vector form
    </h3>
    <p>
      We can also write the system differently: in a vector way. By setting the vector \({{xyVector}}\), the equation is reduced to the one-variable case.
      The system then becomes: <span class="equation">$${{diff2DVect}}$$</span> where \(f\) is a function of two variables: \(t\) and \({{xy_tVector}}\) which is a vector.
       <br>So this problem is very similar to the 1D case.
    </p>
    <h3>
      How to visualize?
    </h3>
    <p>
      To visualize a system of differential equations, we simply write for \(dx\) the expression of \(x'\), and for \(dy\) the expression of \(y'\).
      The position \((x, y)\) of each particle over time will then describe a solution to the system.
      <br>We will explain later why this works.
    </p>
  </div>
  <h3>
    Example: \({{ex12D}}\)
  </h3>
  <div class="indent">
    <a  target="_blank" rel="noopener noreferrer" href="https://vectorfield.starfree.app/?x=y&y=-x&t=0&minT=0&maxT=10&xRange=-1&xRange=1&yRange=-1&yRange=1&lifetime=100&particleCount=10000&normalize=false&speed=1&color1=1&color1=1&color1=1&color1=1&color2=0.4&color2=0.4&color2=1&color2=1">
      <img class="example-img" src="../../assets/images/e3.png">
    </a>
    <span class="footnote center-align">click on images to open the simulation in a new tab</span>
  </div>
  <div class="container">
    <p>
      The solutions to this system of differential equations can be shown to be concentric circles of different radii, which depend on the initial conditions.
      <br>This is, once again, exactly what we see on the simulation: the particles turn around the center in a circular pattern.
    </p>
    <h3>
      Why does this method work?
    </h3>
    <p>
      The time step \(dt\) between each movement of the particle is fixed.
      <br>Moreover, as for the 1D case, the derivative of the functions can be written \(x' = {{derxt}}\) and \(y' = {{deryt}}\).
      <br>So by writing \({{diffd2D}}\), we ensure, as for the 1D case, that the particles follow solutions to the system of differential equations.
    </p>
    <p>
      The interpretation is however not quite the same as the 1D case. The basic variable is no longer the "x" coordinate but it is the time "t".
      As a result, the simple drawing of the particles is no longer sufficient to understand the equation, it is also necessary to take into account the movement of the particles over time.
      For example, the speed of the particles informs us about the properties of the solutions (limits, etc.).
    </p>
  </div>
  <h3>
    Example: \({{ex22D}}\)
  </h3>
  <div class="indent">
    <a  target="_blank" rel="noopener noreferrer" href="https://vectorfield.starfree.app/?x=x*y%20-%20y*y&y=-cos(3*x%20%2By)&t=0&minT=0&maxT=10&xRange=-1&xRange=1&yRange=-1&yRange=1&lifetime=100&particleCount=10000&normalize=false&speed=1&color1=1&color1=1&color1=1&color1=1&color2=0.4&color2=0.4&color2=1&color2=1">
      <img class="example-img" src="../../assets/images/e4.png">
    </a>
    <span class="footnote center-align">click on images to open the simulation in a new tab</span>
  </div>
  <div class="container">
    <p>
      Solving this system would be too complicated. But we can still visualize the solutions.
    </p>
    <h3>
      Now, in 3D
    </h3>
    <p>
      For 3D systems, it works exactly the same as for the 2D case.
      <br>Considering the vector \({{xyzVector}}\) makes it possible to highlight the fact that the system is solved in the same way as the 1D case.
      <br>Then to visualize the system it suffices to write the respective expressions of \(x'\), \(y'\), \(z'\) in \(dx\), \(dy\), \(dz\).
    </p>
  </div>
  <h3>
    Example: \({{ex13D}}\)
  </h3>
  <div class="indent">
    <a  target="_blank" rel="noopener noreferrer" href="https://vectorfield3d.starfree.app/?x=x*x-y*y&y=2*x*y*z&z=-cos(x%20%2B%20x)&t=0&minT=0&maxT=10&xRange=-1&xRange=1&yRange=-1&yRange=1&zRange=-1&zRange=1&lifetime=100&particleCount=10000&normalize=false&speed=1&showCube=true&showAxes=true&color1=1&color1=1&color1=1&color1=1&color2=0.4&color2=0.4&color2=1&color2=1">
      <img class="example-img" src="../../assets/images/e5.png">
    </a>
    <span class="footnote center-align">click on images to open the simulation in a new tab</span>
  </div>
  <div class="container">
    <p>
      The 3D view makes it possible to visualize the solutions to a system of three differential equations, which would be difficult to grasp otherwise.
    </p>
  </div>
</div>